<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShinobiChartsLicenseKey</key>
	<string>nwDHpmTwf5m31Y1MjAxMzAzMDlpbmZvQHNoaW5vYmljb250cm9scy5jb20=H35vNDlBhAc2WsUagWgYGOYIElNwXCIbtXSnnrPAt2vUOb8byKV52ZHv/0OaY1pgtnFe+ecC6AhgLA0ab3IXUFf1AtxMeCVXSIilzFm132O26DRjsu+q9Sk8RD7gnujMe5eHaAq8OTu/ajCo3brIhO3opGxs=BQxSUisl3BaWf/7myRmmlIjRnMU2cA7q+/03ZX9wdj30RzapYANf51ee3Pi8m2rVW6aD7t6Hi4Qy5vv9xpaQYXF5T7XzsafhzS3hbBokp36BoJZg8IrceBj742nQajYyV7trx5GIw9jy/V6r0bvctKYwTim7Kzq+YPWGMtqtQoU=PFJTQUtleVZhbHVlPjxNb2R1bHVzPnh6YlRrc2dYWWJvQUh5VGR6dkNzQXUrUVAxQnM5b2VrZUxxZVdacnRFbUx3OHZlWStBK3pteXg4NGpJbFkzT2hGdlNYbHZDSjlKVGZQTTF4S2ZweWZBVXBGeXgxRnVBMThOcDNETUxXR1JJbTJ6WXA3a1YyMEdYZGU3RnJyTHZjdGhIbW1BZ21PTTdwMFBsNWlSKzNVMDg5M1N4b2hCZlJ5RHdEeE9vdDNlMD08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+</string>
	<key>ShinobiChartsLicenseValidUntil</key>
	<date>2013-03-07T05:00:00Z</date>
</dict>
</plist>
